@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Prompt:wght@200&display=swap');

html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Prompt', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
button {
  font-family: 'Poppins', sans-serif;
}
.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: none !important;
  font-weight: initial;
}

main {
  min-height: 80vh;
  font-family: 'Poppins', sans-serif;
}

.text-black {
  color: black;
}

.act-icon {
  width: 100px;
  height: 100px;
}

.act-card {
  width: 200px;
  height: 200px;
  background: none;
  border: none;
}

.container-full-width {
  width: 100%;
}

.light-blue {
  background-color: #9ac7d9;
}

.mid-blue {
  background-color: #034c8c;
}

.video {
  width: '500px';
}

.home {
  background-color: #fafafa;
  height: 90%;
  width: 90%;
  border-radius: 1rem;
  min-height: 70vh;
  padding: 1rem;
}

.login-card {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.border {
  border: #034c8c;
  border-radius: 1rem;
  padding: 0.5rem;
}

.menu-icon {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  position: relative;
}

.menu-icon:hover {
  cursor: pointer;
}

.container {
  max-width: 90%;
}

.container-md {
  max-width: 60%;
}

.container-landing {
  min-width: 100%;
}
