input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.messages_input {
  height: 40px;
  width: 170px;
  padding: 0 5px;
  border: 1px solid #e6e5e8;
  background-color: #282c34;
  border-style: inset;
  position: absolute;
  margin: 0;
  right: 21%;
  bottom: 21%;
  font-size: 16px;
  color: #e6e5e8;
  border-radius: 50px;
}

.chatDisplay {
  position: relative;
  max-width: 30em;
  margin: 1em;
  background-color: #fff;
  padding: 0.5em 1em;
  font-size: 1.25em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.chatDisplay::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 1.5em;
  /* offset should move with padding of parent */
  border: 0.75rem solid transparent;
  border-top: none;

  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
